@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');

/* universal */

html {
  height: 100%; 
}

body {
  height: 100%;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  margin-left: 30px;
  margin-top: 10px;
  font-size: 1.8em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  color: white;
  font-size: 4em;
  letter-spacing: -2px;
  margin-top: 120px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.8em;
  letter-spacing: -1px;
  margin-top: 120px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

.guest_btn {
  position: absolute;
  margin-top: 60px;
  left: 45%;
}

.container {
  padding: 0;
  width: 100%;
  height: 100%;
  
  margin: 0;
  top: 8%;
}

/* navbar properties */
header {
  position: absolute;
  height: 8%;
}

header .navbar {
  width: 100%;
  height: 100%;
}

/* logo hover effects */

.navbar_left {
  position: fixed;
  top: -0.2%;
  left: 3%;
}

nav .navbar-nav.navbar-right{
  position: fixed;
  top: 1%;
  right: 3%;
}

li {
  display: inline-block;
}

li a {
  text-decoration: none;
  color: #fff;
  font-family: Source Sans Pro;
  font-weight: lighter;
  font-size: 25px;
  padding: 0;
}

#logo::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #fff;
  transition: width 0.3s;
}

#logo:hover::after {
  width: 100%;
  transition: width 0.3s;
}

/* sign up image hover effects */

.signup_btn {
  position: relative;
  width: 100;
  height: 100;
  
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  
  font-size: 1.5em;
  color: yellow;
  animation: none;
}

.signup_btn__image .globe-image {
  mix-blend-mode: multiply;
  display: block;
  transition: background .5s;
}

.signup_btn__image:hover .globe-image{
  mix-blend-mode: multiply;
  transform: scale(1.12);
}

.signup_btn__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  font-family: 'Quicksand', sans-serif;
  display: flex;
  flex-direction: center;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: 0.5s;
}

.signup_btn__overlay > * {
  transform: translateY(20px);
  transition: 0.5s;
}

.signup_btn__overlay:hover {
  opacity: 1;
}

.signup_btn__overlay:hover > * {
  transform: translateY(0);
}

.signup_btn__title {
  font-weight: bold;
}

.container .contents h1 {
  font-family: 'Homemade Apple', cursive;
  color: #EBFF6A;
}

.container .contents h2 {
    color: white;
    font-weight: 100;
}


/*page transition effects*/
.sample_map .container {
  animation: transitionIn 2s;
}

.container .contents h1, h2 {
  animation: transitionIn 2s ease-in-out;
}

.guest_btn {
  animation: transitionIn 2s ease-in-out;
}

.container.signup_btn {
  animation: transitionIn_globe-image 2s;
}

@keyframes transitionIn {
  0% {
    opacity: 0;
    transform: translateY(200px);
  }
  
  
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes transitionIn_globe-image {
  0% {
    opacity: 0;
    mix-blend-mode: multiply;
  }
  
  99.99%
  {
    opacity: 0;
    mix-blend-mode: multiply;
  }
  
  100% {
    opacity: 1;
    mix-blend-mode: multiply;
  }
}

/*zoom effects*/

#wm {
  
  width: 100%;
  height: 100%;
  transform-origin: 0px 0px;
  transform: scale(1) translate(0px, 0px);
}

