<body class="body-home">
  <%= render 'layouts/navbar' %>
    
  <div class="container">
    <div class ="contents">
      <h1>Welcome to Histamap!</h1>
    
      <h2>
        Explore the everlasting extention of human history on an interactive world map!
      </h2>
    
      <div class="container signup_btn" style="width:200px;height:200px;">
        <a class="signup_btn__image" href="#">
          <img class="globe-image" id="image_globe" src="https://secure.img1-fg.wfcdn.com/im/16370816/resize-h800%5Ecompr-r85/1445/14453307/Illuminated+Desktop+Globe.jpg" alt="globe image" style="width:200px;height:200px;">
          
          <div class="signup_btn__overlay">
            <div class="signup_btn__title">
              Sign up now!
            </div>
          </div>
        </a>
      </div>
  
      <div class="guest_btn">
              <%= link_to "Continue as guest", sample_map_path, class: "btn btn-lg btn-primary" %>
      </div>
    </div>
  </div>
</body>


