<i class="fa fa-dot-circle-o icon-5000BCE" id="eu-1-5000BCE" style="font-size:20px"></i>
        <div class="txtbox txtbox-5000BCE" id="eu-1-5000BCE-text">
          The earliest current evidence of copper smelting, dating from between 5500 BC and 5000 BC, has been found in Pločnik and Belovode, Serbia.
        </div>
        
        <i class="fa fa-dot-circle-o icon-4800BCE" id="na-1-4800BCE" style="font-size:20px"></i>
        <div class="txtbox txtbox-4800BCE" id="na-1-4800BCE-text">
          Evidence of earliest maize cultivation was found in Mexico at around 4800 BCE.
        </div>
        
        <i class="fa fa-dot-circle-o icon-4400BCE" id="af-1-4400BCE" style="font-size:20px"></i>
        <div class="txtbox txtbox-4400BCE" id="af-1-4400BCE-text">
          Copper needle exhumed in Egypt dates back to around 4400 BCE.
        </div>
        
        <i class="fa fa-dot-circle-o icon-4200BCE" id="as-1-4200BCE" style="font-size:20px"></i>
        <div class="txtbox txtbox-4200BCE" id="as-1-4200BCE-text">
          Buffaloes were domesticated in China at around 4200 BCE.
        </div>
        
        <i class="fa fa-dot-circle-o icon-4000BCE" id="as-1-4000BCE" style="font-size:20px"></i>
        <div class="txtbox txtbox-4200BCE" id="as-1-4000BCE-text">
          Early form of potter's wheel invented in Sumer.
        </div>
        
        <i class="fa fa-dot-circle-o icon-3700BCE" id="as-1-3700BCE" style="font-size:20px"></i>
        <div class="txtbox txtbox-3700BCE" id="as-1-3700BCE-text">
          The earliest extant example of a woven silk fabric is from 3630 BC, used as wrapping for the body of a child, found in a Yangshao site in Qingtaicun at Xingyang, Henan.
        </div>