
      <!--5000BCE -->
      <input type="checkbox" class="hidden-checkbox parent" id="button_timeline_5000BCE" onclick="uncheck_other_main_label('button_timeline_5000BCE')">
      
      <label for="button_timeline_5000BCE">
          <i class="fa fa-sort-down"></i>
          <p>5000 BCE</p>
      </label>


      <input type="checkbox" class="hidden-checkbox" id="button_timeline_4900BCE">
      <label class="sublabel sublabel-5000BCE" for="button_timeline_4900BCE">
        <p>4900 BCE</p> 
      </label>
      
      <input type="checkbox" class="hidden-checkbox" id="button_timeline_4800BCE">
      <label class="sublabel sublabel-5000BCE" for="button_timeline_4800BCE">
        <p>4800 BCE</p>
      </label>
      
      <input type="checkbox" class="hidden-checkbox" id="button_timeline_4700BCE">
      <label class="sublabel sublabel-5000BCE" for="button_timeline_4700BCE">
        <p>4700 BCE</p>
      </label>
      <input type="checkbox" class="hidden-checkbox" id="button_timeline_4600BCE">
      <label class="sublabel sublabel-5000BCE" for="button_timeline_4600BCE">
        <p>4600 BCE</p>
      </label>
      <input type="checkbox" class="hidden-checkbox" id="button_timeline_4500BCE">
      <label class="sublabel sublabel-5000BCE" for="button_timeline_4500BCE">
        <p>4500 BCE</p>
      </label>
      <input type="checkbox" class="hidden-checkbox" id="button_timeline_4400BCE">
      <label class="sublabel sublabel-5000BCE" for="button_timeline_4400BCE">
        <p>4400 BCE</p>
      </label>
      <input type="checkbox" class="hidden-checkbox" id="button_timeline_4300BCE">
      <label class="sublabel sublabel-5000BCE" for="button_timeline_4300BCE">
        <p>4300 BCE</p>
      </label>
      <input type="checkbox" class="hidden-checkbox" id="button_timeline_4200BCE">
      <label class="sublabel sublabel-5000BCE" for="button_timeline_4200BCE">
        <p>4200 BCE</p>
      </label>
      <input type="checkbox" class="hidden-checkbox" id="button_timeline_4100BCE">
      <label class="sublabel sublabel-5000BCE" for="button_timeline_4100BCE">
        <p>4100 BCE</p>
      </label>
 


      
      <!--4000BCE -->
      <input type="checkbox" class="hidden-checkbox parent" id="button_timeline_4000BCE" onclick="uncheck_other_main_label('button_timeline_4000BCE')">
      
      <label for="button_timeline_4000BCE">
          <i class="fa fa-sort-down"></i>
          <p>4000 BCE</p>
      </label>
 
      <input type="checkbox" class="hidden-checkbox" id="button_timeline_3900BCE">
      <label class="sublabel sublabel-4000BCE" for="button_timeline_3900BCE">
        <p>3900 BCE</p> 
      </label>
      <input type="checkbox" class="hidden-checkbox" id="button_timeline_3800BCE">
      <label class="sublabel sublabel-4000BCE" for="button_timeline_3800BCE">
        <p>3800 BCE</p>
      </label>
      <input type="checkbox" class="hidden-checkbox" id="button_timeline_3700BCE">
      <label class="sublabel sublabel-4000BCE" for="button_timeline_3700BCE">
        <p>3700 BCE</p>
      </label>
      <input type="checkbox" class="hidden-checkbox" id="button_timeline_3600BCE">
      <label class="sublabel sublabel-4000BCE" for="button_timeline_3600BCE">
        <p>3600 BCE</p>
      </label>
      <input type="checkbox" class="hidden-checkbox" id="button_timeline_3500BCE">
      <label class="sublabel sublabel-4000BCE" for="button_timeline_3500BCE">
        <p>3500 BCE</p>
      </label>
      <input type="checkbox" class="hidden-checkbox" id="button_timeline_3400BCE">
      <label class="sublabel sublabel-4000BCE" for="button_timeline_3400BCE">
        <p>3400 BCE</p>
      </label>
      <input type="checkbox" class="hidden-checkbox" id="button_timeline_3300BCE">
      <label class="sublabel sublabel-4000BCE" for="button_timeline_3300BCE">
        <p>3300 BCE</p>
      </label>
      <input type="checkbox" class="hidden-checkbox" id="button_timeline_3200BCE">
      <label class="sublabel sublabel-4000BCE" for="button_timeline_3200BCE">
        <p>3200 BCE</p>
      </label>
      <input type="checkbox" class="hidden-checkbox" id="button_timeline_3100BCE">
      <label class="sublabel sublabel-4000BCE" for="button_timeline_3100BCE">
        <p>3100 BCE</p>
      </label>
  
      
      <!--3000BCE -->
      <input type="checkbox" class="hidden-checkbox parent" id="button_timeline_3000BCE" onclick="uncheck_other_main_label('button_timeline_3000BCE')">
      <label for="button_timeline_3000BCE">
          <i class="fa fa-sort-down"></i>3000 BCE
      </label>
      
      <input type="checkbox" class="hidden-checkbox" id="button_timeline_2900BCE">
      <label class="sublabel sublabel-3000BCE" for="button_timeline_2900BCE">
        <p>To be continued</p>
      </label>
      <input type="checkbox" class="hidden-checkbox" id="button_timeline_2800BCE">
      <label class="sublabel sublabel-3000BCE" for="button_timeline_2800BCE">
        <p>#</p>
      </label>

      
      <!--2000BCE -->
      <input type="checkbox" class="hidden-checkbox parent" id="button_timeline_2000BCE" onclick="uncheck_other_main_label('button_timeline_2000BCE')">
      <label for="button_timeline_2000BCE">
          <i class="fa fa-sort-down"></i>2000 BCE
      </label>
      
      <input type="checkbox" class="hidden-checkbox" id="button_timeline_1900BCE">
      <label class="sublabel sublabel-2000BCE" for="button_timeline_1900BCE">
        <p>To be continued</p>
      </label>
      <input type="checkbox" class="hidden-checkbox" id="button_timeline_1800BCE">
      <label class="sublabel sublabel-2000BCE" for="button_timeline_1800BCE">
        <p>#</p>
      </label>


      
      <!--1000BCE -->

      <input type="checkbox" class="hidden-checkbox parent" id="button_timeline_1000BCE" onclick="uncheck_other_main_label('button_timeline_1000BCE')">
      <label for="button_timeline_1000BCE">
          <i class="fa fa-sort-down"></i>1000 BCE
      </label>
      
      <input type="checkbox" class="hidden-checkbox" id="button_timeline_900BCE">
      <label class="sublabel sublabel-1000BCE" for="button_timeline_900BCE">
        <p>To be continued</p>
      </label>
      <input type="checkbox" class="hidden-checkbox" id="button_timeline_800BCE">
      <label class="sublabel sublabel-1000BCE" for="button_timeline_800BCE">
        <p>#</p>
      </label>

      
    
